<div class="header-wrapper">
  <!-- patient info  -->
  <div class="patient_container" id="patientDiv">
    <!-- FOR PHYSIO -->
    {{# if patientListJSCSS }}
    <h1 class="patient_container__name patient--color">
      Welcome {{ physiotherapist.firstName }} {{ physiotherapist.lastName }}
    </h1>
    <!-- ./FOR PHYSIO -->
    {{ else }}
    <h1 class="patient_container__name patient--color">{{patient.firstName}} {{patient.lastName}}</h1>
    {{/ if }}
    {{# if exerciseJSCSS }}
    <p class="patient_container__exercise">
      <span class="patient--color">Shoulder</span>&nbsp; exercises
    </p>
    {{/ if}}
    {{# if zoomJSCSS }}
    <p class="patient_container__bodypart">
      <span class="patient--color">SHOULDER</span>
    </p>
    {{ else }}
    <p class="patient_container__info"><span class="patient--color">42</span>&nbsp; years old</p>
    <p class="patient_container__info"><span class="patient--color">155</span>&nbsp; lbs</p>
    <p class="patient_container__info"><span class="patient--color">175</span>&nbsp; cm</p>
    {{/ if }}
  </div>
  <!-- ./patient info -->
  <!-- logout -->
  <div class="logout_container">
    <button onclick="location.href='/'" type="button" id="logout" class="logout_container__bttn">
      Logout
    </button>
  </div>
  <!-- ./logout -->
</div>
