{{!
----------------------------------------------------------------------------------

------
README
------

File was originally created by KEVIN VIZCONDE at the start of project.
This file has been worked on and modified by the following people:

Original Exercise Design/Layout: Ringo Suen
Roles:
  • Basic exercise page structure, user interactions etc.
  • Code structure like naming conventions, syntax for hbs, css, js etc.
  • JavaScript functions


Revision 1: Kevin Vizconde
Roles:
  • Updated color scheme on cards, buttons etc.
  • Added card hover effects, glows etc.
  • Made design more responsive with flexbox and media queries for ipad
  • Worked on single exercise card layout, modifying spacing etc.


Back-End: Daniel Chu / Benson Wang
Roles:
  • Grabbing data from the database and dynamically parsing data into inputs
  • Saving exercises to the database


Final Revision and Design: Ringo Suen
Roles:
  • Final code structure and design
  • Final naming conventions and layout design
  • Final JavaScript functions

----------------------------------------------------------------------------------
}}

<main class="home-container">
  {{>_patientHeader}}

  {{#if appointmentDetailError}}
  <p id="no-exercises">There are no available diagnosis for this patient</p>
  {{else}}

  <!-- Ringo new basic functionality added -->
  <section class="exercise-container">
    {{#each exercises}}
    <div class="single-exercise">
      <input type="hidden" class="single-exerciseID" value="{{ this.exerciseID }}" />

      <img class="single-exercise-image" src="{{ this.thumbnail }}" />
      <h1 class="single-exercise-title">{{ this.title }}</h1>
      <div class="single-exercise-details">
        <h2 class="single-exercise-equipment">{{ this.equipment }}</h2>
        <br />
        <button class="btn add-exercise-btn" type="button">EXERCISE +</button>
      </div>
    </div>
    {{/each}}
  </section>
  <section class="cart-container">
    <div class="cart-row">
      <div class="cart-item-header">EXERCISES</div>
      <div class="cart-quantity-header">Reps</div>
      <div class="cart-quantity-header">Sets</div>
      <div class="cart-quantity-header"></div>
      {{!-- <span class="cart-quantity cart-header cart-column"></span> --}}
    </div>
    <div class="cart-wrapper">
      <form method="POST" action="/exercise">
        {{#if assignedExercises}}
        <div class="cart-items">
          {{#each currentExerciseList}}
          <div class="cart-row">
            <div class="cart-item cart-column">
              <span class="cart-item-title">{{ this.title }}</span>
              <input type="hidden" value="{{ this.title }}" name="title" />
              <input type="hidden" value="{{ this.exerciseID }}" name="exerciseID" />
            </div>
            <div class="cart-quantity cart-column">
              <input
                class="cart-quantity-input"
                name="reps"
                type="number"
                value="{{ this.repetitions }}"
              />
            </div>
            <div class="cart-quantity cart-column">
              <input
                class="cart-quantity-input"
                name="sets"
                type="number"
                value="{{ this.sets }}"
              />
            </div>
            <div class="cart-quantity cart-column">
              <button class="btn btn-remove" type="button">x</button>
            </div>
          </div>
          {{/each}}
        </div>
        {{else}}
        <div class="cart-items"></div>
        {{/if}}
        <div class="assign-btn-div">
          <button type="submit" class="btn btn-assign">SAVE</button>
        </div>
      </form>
    </div>
  </section>
  {{/if}}

  {{>_navigation}}
</main>
{{>_footer}}
