<main class="home-container">
  {{>_patientHeader}}
  <!-- wrapper -->
  {{!-- <div class="exercise-container">
    <div class="items">
      {{#each exercises}}
      <div class="item">
        <img src="{{this.thumbnail}}" alt="item" />
        <h2>{{this.title}}</h2>
        <button class="add-to-cart" type="button">Add Exercise</button>
      </div>
      {{/each}}
    </div>
  </div> --}}

   <!-- Ringo new basic functionality added -->

   <section class="exercise-container">
      <div class="exercise-items">
          {{#each exercises}}
          <div class="single-exercise">
              <img class="single-exercise-image" src="{{this.thumbnail}}">
              <span class="single-exercise-title">{{this.title}}</span>
              <div class="single-exercise-details">
                  <span class="single-exercise-equipment">{{this.equipment}}</span></br>
                  <button class="btn btn-primary add-exercise-btn" type="button">ADD EXERCISE</button>
              </div>
          </div>
          {{/each}}
      </div>
  </section>
  <section class="cart-container">
      <div class="cart-row">
          <span class="cart-item cart-header cart-column">EXERCISE</span>
          <span class="cart-equipment cart-header cart-column">EQUIPMENT</span>
          <span class="cart-quantity cart-header cart-column">REPS</span>
          <span class="cart-quantity cart-header cart-column">SETS</span>
          <span class="cart-quantity cart-header cart-column"></span>
      </div>
      <div class="cart-items">
      </div>
      <button class="btn btn-primary btn-send" type="button">SEND TO PATIENT</button>
  </section>




  {{>_navigation}}
</main>
{{>_footer}}