{{!
----------------------------------------------------------------------------------

------
README
------

File was originally created by KEVIN VIZCONDE at the start of project.
This file has been worked on and modified by the following people:

Original Exercise Design/Layout: Ringo Suen
Roles:
  • Basic exercise page structure, user interactions etc.
  • Code structure like naming conventions, syntax for hbs, css, js etc.
  • JavaScript functions


Revision 1: Kevin Vizconde
Roles:
  • Updated color scheme on cards, buttons etc.
  • Added card hover effects, glows etc.
  • Worked on single exercise card layout, modifying spacing etc.


Back-End: Benson Wang
Roles:
  • Grabbing data from the database and dynamically parsing data into inputs
  • Saving exercises to the database


Final Revision and Design: Ringo Suen
Roles:
  • Final code structure and design
  • Final naming conventions and layout design
  • Final JavaScript functions

----------------------------------------------------------------------------------
}}

<main class="home-container">
  {{>_patientHeader}}

  {{#if appointmentDetailError}}
  <p id="no-exercises">There are no available diagnosis for this patient</p>
  {{else}}

  <!-- Ringo new basic functionality added -->
  <section class="exercise-container">
    {{#each exercises}}
    <div class="single-exercise">
      <input value="{{ this.exerciseID }}" type="hidden" name="exerciseID" />
      <img class="single-exercise-image" src="{{ this.thumbnail }}" />
      <h1 class="single-exercise-title">{{ this.title }}</h1>
      <div class="single-exercise-details">
        <h2 class="single-exercise-equipment">{{ this.equipment }}</h2>
        <br />
        <button class="btn add-exercise-btn" type="button">EXERCISE +</button>
      </div>
    </div>
    {{/each}}
  </section>
  <section class="cart-container">
    <form method="POST" action="/exercise">
      <div class="cart-row">
        <div class="cart-item-header">EXERCISES</div>
        <div class="cart-quantity-header">Reps</div>
        <div class="cart-quantity-header">Sets</div>
        <div class="cart-quantity-header"></div>
      </div>

      <div class="cart-items"></div>
      <button type="submit" onclick="getExercises(this)">ASSIGN TO PATIENT</button>
    </form>
  </section>
  {{/if}}

  {{>_navigation}}
</main>
{{>_footer}}
