<main class="home-container">
  {{>_patientHeader}}
  <!-- wrapper -->
  {{!-- <div class="exercise-container">
    <div class="items">
      {{#each exercises}}
      <div class="item">
        <img src="{{this.thumbnail}}" alt="item" />
        <h2>{{this.title}}</h2>
        <button class="add-to-cart" type="button">Add Exercise</button>
      </div>
      {{/each}}
    </div>
  </div> --}}

   <!-- Ringo new basic functionality added -->

   <section class="exercise-container">
      <div class="exercise-items">
          {{#each exercises}}
          <div class="single-exercise">
              <img class="single-exercise-image" src="{{this.thumbnail}}">
              <span class="single-exercise-title">{{this.title}}</span>
              <div class="single-exercise-details">
                  <span class="single-exercise-equipment">{{this.equipment}}</span></br>
                  <button class="btn btn-primary add-exercise-btn" type="button">ADD EXERCISE</button>
              </div>
          </div>
          {{/each}}
      </div>
  </section>
  <section class="cart-container">
      <div class="cart-row">
          <span class="cart-item cart-header cart-column">EXERCISE</span>
          <span class="cart-equipment cart-header cart-column">EQUIPMENT</span>
          <span class="cart-quantity cart-header cart-column">REPS</span>
          <span class="cart-quantity cart-header cart-column">SETS</span>
          <span class="cart-quantity cart-header cart-column"></span>
      </div>
      <div class="cart-items">
      </div>
      <button class="btn btn-primary btn-send" type="button">SEND TO PATIENT</button>
  </section>


<script>
// will move to JS file//
if (document.readyState == 'loading') {
  document.addEventListener('DOMContentLoaded', ready)
} else {
  ready()
}

function ready() {
  var removeExerciseItemButton = document.getElementsByClassName('btn-remove')
  for (var i = 0; i < removeExerciseItemButton.length; i++) {
    var button = removeExerciseItemButton[i]
    button.addEventListener('click', removeExerciseItem)
  }

  var addToCartButtons = document.getElementsByClassName('add-exercise-btn')
  for (var i = 0; i < addToCartButtons.length; i++) {
      var button = addToCartButtons[i]
      button.addEventListener('click', addExerciseClicked)
  }

  document.getElementsByClassName('btn-send')[0].addEventListener('click', sendToPatientClicked)
}

function sendToPatientClicked() {
    alert('Sending to Patient')
    var cartItems = document.getElementsByClassName('cart-items')[0]
    while (cartItems.hasChildNodes()) {
        cartItems.removeChild(cartItems.firstChild)
    }
}

function removeExerciseItem(event) {
    var buttonClicked = event.target
    buttonClicked.parentElement.parentElement.remove()
}

function quantityChanged(event) {
    var input = event.target
    if (isNaN(input.value) || input.value <= 0) {
        input.value = 1
    }
}

function addExerciseClicked(event) {
    var button = event.target
    var shopItem = button.parentElement.parentElement
    var title = shopItem.getElementsByClassName('single-exercise-title')[0].innerText
    var equipment = shopItem.getElementsByClassName('single-exercise-equipment')[0].innerText
    var imageSrc = shopItem.getElementsByClassName('single-exercise-image')[0].src
    addExerciseToCart(title, equipment, imageSrc)
}

function addExerciseToCart(title, equipment, imageSrc) {
    var cartRow = document.createElement('div')
    cartRow.classList.add('cart-row')
    var cartItems = document.getElementsByClassName('cart-items')[0]
    var cartItemNames = cartItems.getElementsByClassName('cart-item-title')
    for (var i = 0; i < cartItemNames.length; i++) {
        if (cartItemNames[i].innerText == title) {
            alert('Exercise Already Added')
            return
        }
    }
    var cartRowContents = `
        <div class="cart-item cart-column">
            {{!-- <img class="cart-item-image" src="${imageSrc}" width="100" height="100"> --}}
            <span class="cart-item-title">${title}</span>
        </div>
        <span class="cart-equipment cart-column">${equipment}</span>
        <div class="cart-quantity cart-column">
        <input class="cart-quantity-input" type="number" value="6">
        </div>
        <div class="cart-quantity cart-column">
            <input class="cart-quantity-input" type="number" value="1">
        </div>
        <div class="cart-quantity cart-column">
        <button class="btn btn-remove" type="button">REMOVE</button>
    </div>`
      
    cartRow.innerHTML = cartRowContents
    cartItems.append(cartRow)
    cartRow.getElementsByClassName('btn-remove')[0].addEventListener('click', removeExerciseItem)
    cartRow.getElementsByClassName('cart-quantity-input')[0].addEventListener('change', quantityChanged)
}
  </script>

  {{>_navigation}}
</main>
{{>_footer}}