<main class="home-container">
  {{>_patientHeader}}
  <div id="card-container">
    <form class="card-wrapper" method="GET" action="/home">
      {{#each patients}}
      <div class="card">
        <h1 class="time">{{ this.appointmentTime }} - {{ this.appointmentEndTime }}</h1>
        <h2 class="name">{{ this.firstName }} {{ this.lastName }}</h2>
        <p class="phone">{{ this.phoneNumber }}</p>
        <button type="submit" class="btn">View</button>
      </div>
      {{/each}}
    </form>
  </div>
</main>
{{>_footer}}

<!-- OLD -->
<!-- <div id="card-container">
  <form class="card-wrapper" method="GET" action="/home">
    {{#each patients}}
    <div class="card">
      <h1 class="time">{{ this.appointmentTime }} - {{ this.appointmentEndTime }}</h1>
      <h2 class="name">{{ this.firstName }} {{ this.lastName }}</h2>
      <p class="phone">{{ this.phoneNumber }}</p>
      <button type="submit" class="btn">View</button>
    </div>
    {{/each}}
  </form>
</div> -->
