<!--
----------------------------------------------------------------------------------

README: The Following HBS file Has Been Modified by KEVIN VIZCONDE:
              • Naming convention was changed to Adhere to BEM Standards
              • Table container was changed to div containers
              • Layout model converted to Flexbox
              • Design was changed
              • Modified user experience interactions


Original Skeleton: Ringo Suen
Revision 1 and 2: Ringo Suen
Roles:
  • Basic skeleton, structure, user interactions etc.
  • Revision of basic skeleton design


Back-End: Daniel Chu / Benson Wang
Roles:
  • Grabbing data from the database and dynamically parsing data into inputs


Final Revision and Design: Kevin Vizconde
Roles:
  • Code reviewing and updating code structure
  • Finalizing structure and design
  • Finalizing user experience/interactions

----------------------------------------------------------------------------------
-->

<main class="home-container">
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  {{>_patientHeader}}
  <div class="card-container">
    {{#each patients}}
    <div class="patient-card">
      <form class="patient-card__form" method="GET" action="/home">
        <div class="patient-card__container">
          <input type="hidden" name="appointmentID" value="{{ this.appointmentID }}" />
          <input type="hidden" name="patientID" value="{{ this.patientID }}" />
          <p class="patient-card__time align-flex timeGlow">
            <img
              class="patient-card--icon time timeGlowIcon"
              src="img/icon_time.png"
              alt="time icon"
            />&nbsp;
            {{ this.appointmentTime }}
            -
            {{ this.appointmentEndTime }}
          </p>
          <h1 class="patient-card__name avatar-flex nameGlow">
            <img
              class="patient-card--avatar"
              src="img/icon_avatar.png"
              alt="patient avatar"
            />&nbsp; {{ this.firstName }}
            {{ this.lastName }}
          </h1>
          <p class="patient-card__phone align-flex">
            <img class="patient-card--icon" src="img/icon_phone.png" alt="phone icon" />&nbsp;
            {{ this.phoneNumber }}
          </p>
          <button class="patient-card__bttn" type="submit">View</button>
        </div>
      </form>
    </div>
    {{/each}}
  </div>
</main>
<!-- {{>_footer}} -->
