<main class="home-container">
  {{>_patientHeader}}
  <div id="listcontainer">
    <table id="table-headings">
      <thead>
        <tr>
          <td class="titles" id="appt-title">Appointment Time</td>
          <td class="titles" id="name-title">Patient Name</td>
          <td class="titles" id="phone-title">Phone Number </td>
          <td class="titles" id="action-title">Action</td>
        </tr>
      </thead>
    </table>
  </div>
  <div id="card-container">
    {{#each patients}}
      <div class="card">
        <form class="card-content" method="GET" action="/home">
          <input type="hidden" name="appointmentID" value="{{this.appointmentID}}"/>
          <h3 class="time">{{ this.appointmentTime }} - {{ this.appointmentEndTime }}</h3>
          <h1 class="name">{{ this.firstName }} {{ this.lastName }}</h1>
          <p class="phone">{{ this.phoneNumber }}</p>
          <button type="submit" class="btn">View</button>
        </form>
      </div>
    {{/each}}
    
    
    {{!-- {{#each patients}} --}}
      {{!-- <form name="patientData" method="GET" action="/home">
        <tr>
          <input type="hidden" name="appointmentID" value="{{this.appointmentID}}"/>
          <td>{{this.firstName}}</td>
          <td>{{this.lastName}}</td>
          <td>{{this.phoneNumber}}</td>
          <td>{{this.appointmentTime}} - {{this.appointmentEndTime}}</td>
          <td><button type="submit">View More</button></td>
        </tr>
      </form> --}}
    {{!-- {{/each}} --}}
  </div>
</main>
{{>_footer}}

<!-- OLD -->
<!-- <div id="card-container">
  <form class="card-wrapper" method="GET" action="/home">
    {{#each patients}}
    <div class="card">
      <h1 class="time">{{ this.appointmentTime }} - {{ this.appointmentEndTime }}</h1>
      <h2 class="name">{{ this.firstName }} {{ this.lastName }}</h2>
      <p class="phone">{{ this.phoneNumber }}</p>
      <button type="submit" class="btn">View</button>
    </div>
    {{/each}}
  </form>
</div> -->
